<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010-2013 Eugen Feller, INRIA <eugen.feller@inria.fr>

    This file is part of Snooze, a scalable, autonomic, and
    energy-aware virtual machine (VM) management framework.

    This program is free software: you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation, either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, see <http://www.gnu.org/licenses>.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG"/>
		<layout class="com.plant42.log4j.layouts.JSONLayout">			
		</layout>
	</appender>	
	
	<appender name="FA" class="org.apache.log4j.FileAppender">
    		<param name="file" value="/tmp/internal.log"/>
    		<param name="Threshold" value="DEBUG"/> 	
		<layout class="com.plant42.log4j.layouts.JSONLayout">			
		</layout>	
	</appender>	
	
	    <appender name="rabbitmq" class="com.plant42.log4j.appenders.RabbitMQAppender">
        <param name="identifier" value="identifier"/>
        <param name="host" value="localhost"/>
        <param name="port" value="5672"/>
        <param name="username" value="guest"/>
        <param name="password" value="guest"/>
        <param name="virtualHost" value="/"/>
        <param name="exchange" value="log4j-exchange"/>
        <param name="type" value="direct"/>
        <param name="durable" value="false"/>
        <param name="queue" value="log4j-queue"/>
        <param name="routingKey" value=""/>
        <layout class="com.plant42.log4j.layouts.RawJSONLayout" />
    </appender>
   
	<logger name="external">
		<level value="DEBUG"/>		
		<appender-ref ref="rabbitmq"/>
		<appender-ref ref="FA"/>
	</logger>
	
	<logger name="internal">
		<level value="DEBUG"/>				
		<appender-ref ref="CA"/>
	</logger>
	
</log4j:configuration>
